{% extends "base.html.twig" %}
{% block title %}Error Report{% endblock %}
{% block body %}
        <h1>Sorry, but your csv file is not valid(</h1>
        <p>Please check file and upload again</p>
        <br>
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
        <br>
{% endblock %}