{% extends "base.html.twig" %}
{% block title %}Your file is not valid{% endblock %}
{% block body %}
    <h1>Only csv files allowed!</h1>
    <h2>Please, try again with .csv extension</h2>
{% endblock %}